html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

body {
  padding-bottom: 40px;
}

@font-face {
  src:url("../fonts/proximanova-bold-webfont.ttf");
  font-family: "Proxima Nova"; font-weight: 700;
}

@font-face {
  src:url("../fonts/proximanova-semibold-webfont.ttf");
  font-family: "Proxima Nova"; font-weight: 500;
}

@font-face {
  src:url("../fonts/proximanova-light-webfont.ttf");
  font-family: "Proxima Nova"; font-weight: 300;
}

@font-face {
  src:url("../fonts/proximanova-regular-webfont.ttf");
  font-family: "Proxima Nova"; font-weight: 400;
}

@font-face {
  src:url("../fonts/Circular-Book.ttf");
  font-family: 'Circular'; font-weight: 400;
}

@font-face {
  src:url("../fonts/Circular-Bold.ttf");
  font-family: 'Circular'; font-weight: 700;
}

@font-face {
  src: url('../fonts/Block.ttf');
  font-family: 'Block';
}

@font-face {
  src: url('../fonts/FRABK.TTF');
  font-family: 'Franklin Book';
  font-style: normal;
}

@font-face {
  src: url('../fonts/FRABKIT.TTF');
  font-family: 'Franklin Book';
  font-style: italic;
}

@font-face {
  src: url('../fonts/SanFranciscoText-Thin.otf');
  font-family: 'San Francisco';
  font-weight:300;
}

@font-face {
  src: url('../fonts/SanFranciscoText-Medium.otf');
  font-family: 'San Francisco';
  font-weight:bold;
}

@font-face {
  font-family: "SFMoMA";
  src: url('../fonts/MoMA/SFMOMAText-Regular.ttf') format("truetype"),
       url('../fonts/MoMA/SFMOMAText-Regular.otf') format("otf");
  font-weight: normal;
  font-style:normal;
}

@font-face {
  font-family: "SFMoMA";
  src: url('../fonts/MoMA/SFMOMAText-Bold.ttf') format("truetype"),
       url('../fonts/MoMA/SFMOMAText-Bold.otf') format("otf");
  font-weight: bold;
  font-style:normal;
}

@font-face {
  font-family: "SFMoMA";
  src: url('../fonts/MoMA/SFMOMAText-RegularItalic.ttf') format("truetype"),
       url('../fonts/MoMA/SFMOMAText-RegularItalic.otf') format("otf");
  font-weight:normal;
  font-style:italic;
}

@font-face {
  font-family: "SFMoMA";
  src: url('../fonts/MoMA/SFMOMAText-BoldItalic.ttf') format("truetype"),
       url('../fonts/MoMA/SFMOMAText-BoldItalic.otf') format("otf");
  font-weight: bold;
  font-style: italic;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}



/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   footer {
     font-family: "Adobe Caslon";
     font-size: 14pt;
     padding-top: 20px;
     padding-bottom: 20px;
   }

   a {
     color:black;
     text-decoration: none;
   }

   a:visited {
     color:black;
   }

   a:hover {
     text-decoration: underline;
   }

   .quote {
     margin-top: 20px;
     text-align:center;
     font-family: "SFMoMA";
     color: #999;
   }

   .wallet {
     text-align:center;
     color: #999;
     font-family: "Menlo";
     margin-top: 40px;
     font-size: 9pt;
   }

   .lavaLamp {
       height: 3px;
       width: 100%;
       background-color:#333;
       /*animation: lavalamp 5s infinite;*/
       position:absolute;
       top:0;
   }

   @keyframes lavalamp {
     0% {
       background-color: #c0392b;
     }
     100% {
       background-color: #8e44ad;
     }
   }


   #mainTitle {
     font-family: "SFMoMA", "San Francisco";
     font-weight: 300;
     color:#333;
     line-height: 110%;
     text-align:center;
     font-size: 35pt;
     margin-top: 0px;
     margin-bottom: 0px;
     -webkit-user-select: none;  /* Chrome all / Safari all */
     -moz-user-select: none;     /* Firefox all */
     -ms-user-select: none;      /* IE 10+ */
     user-select: none;
     /*margin-left: 15px;*/
     /*margin-right: 15px;*/

   }

   #mainDescription {
     font-family: 'Proxima Nova';
     font-weight: 400;
     color: #333;
     text-align: center;
     font-size: 12pt;
     margin-top: 10px;
     /*margin-left: 15px;*/
     /*margin-right: 15px;*/
   }

   #mainTitle:hover {
     cursor:pointer;
   }

   .newsIcons {
     display: flex;
     flex-direction: row;
     flex-wrap:nowrap;
     margin-bottom: 10px;
     align-items: stretch;
   }

   .newsInfoIcon {
     border: 0;
     width: 100px;
     height: auto;
     flex-grow: 1;
     flex-shrink: 1;
     flex-basis: auto;
     background-color: white;
     filter: grayscale(100%);
     -webkit-filter: grayscale(100%);
     -webkit-transition: all 0.1s linear;
     -moz-transition: all 0.1s linear;
     -o-transition: all 0.1s linear;
     -ms-transition: all 0.1s linear;
   }

   .newsInfoIcon:hover {
     filter: grayscale(0%);
     -webkit-filter: grayscale(0%);
   }

   /*.firstcharacter:-webkit-first-child:-webkit-first-letter { float: left; color: #903; font-size: 75px; line-height: 60px; padding-top: 4px; padding-right: 8px; padding-left: 3px; font-family: Georgia; }*/


   .volumeInfoRow {
     border-bottom: 1px solid black;
     font-family: 'Block', sans-serif;
     position:relative;
   }


   .info {
     text-transform:uppercase;
   }

   .content {
     margin-top: -20px;
   }

   #header {
     color:#999;
     padding-top: 40px;
     padding-bottom: 10px;
   }

   #header .navLinks a {
     font-family: "SFMoMA", sans-serif;
     font-weight: 700;
     margin-right: 25px;
     font-size: 14pt;
     text-transform: lowercase;
   }

   #header h1 {
     font-family: "SFMoMA", "San Francisco";
     font-weight: 700;
     color: black;
     font-size: 22pt;
     text-transform: none;
   }

   #header a {
     color: #3498db;
     border-bottom: 1px dotted #3498db;
     -webkit-transition: all 0.1s linear;
     -moz-transition: all 0.1s linear;
     -o-transition: all 0.1s linear;
     -ms-transition: all 0.1s linear;
   }

   #header a:hover {
     color:black;
     border-bottom: 1px solid black;
     text-decoration: none;
   }

   p.lead {
       font-family: "Franklin Book", "SFMoMA", sans-serif;
       font-size: 13pt;
   }

   .twitter-timeline {
     width: 100%;
   }

   .articleTitle {
     font-size: 18pt;
     font-family:  'SFMoMA', 'Proxima Nova';
   }

   h2 {
     font-family: "SFMoMA", "San Francisco";
     font-weight: 600;
     line-height: 120%;
     border-bottom: 1px solid rgba(37, 36, 37, 0.1);
   }

   h3 {
     font-family: "SFMoMA", "Proxima Nova";
     border-bottom: 1px solid rgba(37, 36, 37, 0.1);
     line-height: 120%;

   }

   .date {
     font-family: "SFMoMA", "Franklin Book", 'Proxima Nova';
     font-weight: 300;
     color: rgba(37, 36, 37, 0.7);
     font-size: 12pt;
     margin-bottom: 10px;
     display:block;
   }

   .whole .date {
     margin-left: 10px;
     margin-right: 10px;
     font-size: 14pt;
   }

   .whole a {
     font-weight: bold;
     margin-left: 10px;
     margin-right: 10px;
   }

   input:focus {
     outline:none;
     outline-style:none;
   }

   .story {
       margin-bottom: 15px;
   }

   .story a {
     color: #333;
     display:block;
     text-align:left;
     font-size: 14pt;
     font-family: "SFMoMA", "Proxima Nova", sans-serif;
     font-weight: 700;
   }

   #goHome:hover {
     cursor:pointer;
   }


   .description {
     margin-right: 10px;
     font-family: "SFMoMA", "Franklin Book", "Proxima Nova", "Helvetica", sans-serif;
     font-weight: 400;
     display:block;
   }

   .articleBody {
     font-size: 13pt;
     font-family: "SFMoMA", "Franklin Book", "Proxima Nova", "Circular", sans-serif;
     line-height: 1.8;
     color: #181f21;
   }

   .articleBody a {
     font-weight:normal;
     margin:0;
     color: #3498db;
   }

   .articleBody h2, h3, h4 {
     line-height: 110%;
     margin-bottom:-10px;
     padding:0;
   }

   .mainIntro {
     text-align: center;
   }

   .mainIntro .date {
     font-size: 13pt;
     font-family: "Proxima Nova";
     font-weight: 100;
     border-top: 1px solid rgba(33, 33, 33, 0.1);
     padding-top: 7px;
   }

   .mainIntro a {
     margin:0;
     font-weight: normal;
   }

   #headline {
     color: #333;
     font-size: 23pt;
     font-family: 'SFMoMA', 'Proxima Nova';
     font-weight:700;
     line-height: 110%;
     margin-top: 10px;
   }

   .bannerAd {
     display:block;
     margin-top: 10px;
     border: 1px dashed black;
   }

   .blogArea {
     margin-top: 10px!important;
   }

   .contentArea {
     margin-top: -30px;
   }

   img {
       display: block;
       margin: auto;
   }



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

img {
  border: solid 1px rgba(0, 0, 0, 0.2);
  padding: 3px;
  border-radius: 2px;
  background-clip: content-box; /* support: IE9+ */
  background-color: #ccc;
}

img#rss {
  border: none;
  background:none;
  float:right;
  height: 20pt;
  -moz-opacity: 0.4;
  -webkit-opacity: 0.4;
  opacity: 0.4;
}

img#rss:hover {
  -moz-opacity: 0.8;
  -webkit-opacity: 0.8;
  opacity: 0.8;
}

blockquote {
  font-size: 16pt;
  color: rgba(33, 33, 33, 0.8);
  line-height: 160%;
  font-style:italic;
  font-family: "Proxima Nova";
  font-weight: 300;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  display:block;
}

blockquote quotee {
  font-size: 11pt;
  font-weight: 600;
  font-family: "SFMoMA", sans-serif;
  display:block;
  font-style:normal;
}

lead {
  color: rgba(33, 33, 33, 0.5);
}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (max-width: 599px) {

  .navLinks a {
    display:block;
    float:left;
    clear:left;
    margin-bottom: 15px;
  }

  #header {
    padding-top: 0;
    margin-top: -25px;
  }

  #volumeNumber {
    display: none;
  }

  #price {
    display: none;
  }

  #header {
    margin-bottom: -40px;
  }

  .bannerAd {
    display:none;
  }

  #mainTitle {
    font-size: 32pt;
  }

  .mainIntro .date {
    font-size: 11pt;
  }

  #headline {
    font-size: 19pt;
  }

  pre {
    font-size: 11pt;
  }
}

@media only screen and (max-width: 715px) {
  .navLinks a {
    display: block;
    clear: left;
    float:left;
    margin-bottom: 15px;
  }
}

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/* Syntax Highlighting (taken mostly from Pygments) */
pre .hll { background-color: #ffffcc }
pre  { background: #f0f0f0; margin:0; border-radius: 4px; padding-left: 10px; padding-top: 5px; padding-right: 10px; }
code { padding:0; margin:0;}
pre .c { color: #60a0b0; font-style: italic } /* Comment */
pre .err { border: 1px solid #FF0000 } /* Error */
pre .k { color: #007020; font-weight: bold } /* Keyword */
pre .o { color: #666666 } /* Operator */
pre .ch { color: #60a0b0; font-style: italic } /* Comment.Hashbang */
pre .cm { color: #60a0b0; font-style: italic } /* Comment.Multiline */
pre .cp { color: #007020 } /* Comment.Preproc */
pre .cpf { color: #60a0b0; font-style: italic } /* Comment.PreprocFile */
pre .c1 { color: #60a0b0; font-style: italic } /* Comment.Single */
pre .cs { color: #60a0b0; background-color: #fff0f0 } /* Comment.Special */
pre .gd { color: #A00000 } /* Generic.Deleted */
pre .ge { font-style: italic } /* Generic.Emph */
pre .gr { color: #FF0000 } /* Generic.Error */
pre .gh { color: #000080; font-weight: bold } /* Generic.Heading */
pre .gi { color: #00A000 } /* Generic.Inserted */
pre .go { color: #888888 } /* Generic.Output */
pre .gp { color: #c65d09; font-weight: bold } /* Generic.Prompt */
pre .gs { font-weight: bold } /* Generic.Strong */
pre .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
pre .gt { color: #0044DD } /* Generic.Traceback */
pre .kc { color: #007020; font-weight: bold } /* Keyword.Constant */
pre .kd { color: #007020; font-weight: bold } /* Keyword.Declaration */
pre .kn { color: #007020; font-weight: bold } /* Keyword.Namespace */
pre .kp { color: #007020 } /* Keyword.Pseudo */
pre .kr { color: #007020; font-weight: bold } /* Keyword.Reserved */
pre .kt { color: #902000 } /* Keyword.Type */
pre .m { color: #40a070 } /* Literal.Number */
pre .s { color: #4070a0 } /* Literal.String */
pre .na { color: #4070a0 } /* Name.Attribute */
pre .nb { color: #007020 } /* Name.Builtin */
pre .nc { color: #0e84b5; font-weight: bold } /* Name.Class */
pre .no { color: #60add5 } /* Name.Constant */
pre .nd { color: #555555; font-weight: bold } /* Name.Decorator */
pre .ni { color: #d55537; font-weight: bold } /* Name.Entity */
pre .ne { color: #007020 } /* Name.Exception */
pre .nf { color: #06287e } /* Name.Function */
pre .nl { color: #002070; font-weight: bold } /* Name.Label */
pre .nn { color: #0e84b5; font-weight: bold } /* Name.Namespace */
pre .nt { color: #062873; font-weight: bold } /* Name.Tag */
pre .nv { color: #bb60d5 } /* Name.Variable */
pre .ow { color: #007020; font-weight: bold } /* Operator.Word */
pre .w { color: #bbbbbb } /* Text.Whitespace */
pre .mb { color: #40a070 } /* Literal.Number.Bin */
pre .mf { color: #40a070 } /* Literal.Number.Float */
pre .mh { color: #40a070 } /* Literal.Number.Hex */
pre .mi { color: #40a070 } /* Literal.Number.Integer */
pre .mo { color: #40a070 } /* Literal.Number.Oct */
pre .sb { color: #4070a0 } /* Literal.String.Backtick */
pre .sc { color: #4070a0 } /* Literal.String.Char */
pre .sd { color: #4070a0; font-style: italic } /* Literal.String.Doc */
pre .s2 { color: #4070a0 } /* Literal.String.Double */
pre .se { color: #4070a0; font-weight: bold } /* Literal.String.Escape */
pre .sh { color: #4070a0 } /* Literal.String.Heredoc */
pre .si { color: #70a0d0; font-style: italic } /* Literal.String.Interpol */
pre .sx { color: #c65d09 } /* Literal.String.Other */
pre .sr { color: #235388 } /* Literal.String.Regex */
pre .s1 { color: #4070a0 } /* Literal.String.Single */
pre .ss { color: #517918 } /* Literal.String.Symbol */
pre .bp { color: #007020 } /* Name.Builtin.Pseudo */
pre .vc { color: #bb60d5 } /* Name.Variable.Class */
pre .vg { color: #bb60d5 } /* Name.Variable.Global */
pre .vi { color: #bb60d5 } /* Name.Variable.Instance */
pre .il { color: #40a070 } /* Literal.Number.Integer.Long */.syntax pre .hll { background-color: #ffffcc }
.syntax pre  { background: #f8f8f8; }
.syntax pre .c { color: #408080; font-style: italic } /* Comment */
.syntax pre .err { border: 1px solid #FF0000 } /* Error */
.syntax pre .k { color: #008000; font-weight: bold } /* Keyword */
.syntax pre .o { color: #666666 } /* Operator */
.syntax pre .ch { color: #408080; font-style: italic } /* Comment.Hashbang */
.syntax pre .cm { color: #408080; font-style: italic } /* Comment.Multiline */
.syntax pre .cp { color: #BC7A00 } /* Comment.Preproc */
.syntax pre .cpf { color: #408080; font-style: italic } /* Comment.PreprocFile */
.syntax pre .c1 { color: #408080; font-style: italic } /* Comment.Single */
.syntax pre .cs { color: #408080; font-style: italic } /* Comment.Special */
.syntax pre .gd { color: #A00000 } /* Generic.Deleted */
.syntax pre .ge { font-style: italic } /* Generic.Emph */
.syntax pre .gr { color: #FF0000 } /* Generic.Error */
.syntax pre .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.syntax pre .gi { color: #00A000 } /* Generic.Inserted */
.syntax pre .go { color: #888888 } /* Generic.Output */
.syntax pre .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.syntax pre .gs { font-weight: bold } /* Generic.Strong */
.syntax pre .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.syntax pre .gt { color: #0044DD } /* Generic.Traceback */
.syntax pre .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.syntax pre .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.syntax pre .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.syntax pre .kp { color: #008000 } /* Keyword.Pseudo */
.syntax pre .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.syntax pre .kt { color: #B00040 } /* Keyword.Type */
.syntax pre .m { color: #666666 } /* Literal.Number */
.syntax pre .s { color: #BA2121 } /* Literal.String */
.syntax pre .na { color: #7D9029 } /* Name.Attribute */
.syntax pre .nb { color: #008000 } /* Name.Builtin */
.syntax pre .nc { color: #0000FF; font-weight: bold } /* Name.Class */
.syntax pre .no { color: #880000 } /* Name.Constant */
.syntax pre .nd { color: #AA22FF } /* Name.Decorator */
.syntax pre .ni { color: #999999; font-weight: bold } /* Name.Entity */
.syntax pre .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.syntax pre .nf { color: #0000FF } /* Name.Function */
.syntax pre .nl { color: #A0A000 } /* Name.Label */
.syntax pre .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.syntax pre .nt { color: #008000; font-weight: bold } /* Name.Tag */
.syntax pre .nv { color: #19177C } /* Name.Variable */
.syntax pre .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.syntax pre .w { color: #bbbbbb } /* Text.Whitespace */
.syntax pre .mb { color: #666666 } /* Literal.Number.Bin */
.syntax pre .mf { color: #666666 } /* Literal.Number.Float */
.syntax pre .mh { color: #666666 } /* Literal.Number.Hex */
.syntax pre .mi { color: #666666 } /* Literal.Number.Integer */
.syntax pre .mo { color: #666666 } /* Literal.Number.Oct */
.syntax pre .sb { color: #BA2121 } /* Literal.String.Backtick */
.syntax pre .sc { color: #BA2121 } /* Literal.String.Char */
.syntax pre .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.syntax pre .s2 { color: #BA2121 } /* Literal.String.Double */
.syntax pre .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.syntax pre .sh { color: #BA2121 } /* Literal.String.Heredoc */
.syntax pre .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.syntax pre .sx { color: #008000 } /* Literal.String.Other */
.syntax pre .sr { color: #BB6688 } /* Literal.String.Regex */
.syntax pre .s1 { color: #BA2121 } /* Literal.String.Single */
.syntax pre .ss { color: #19177C } /* Literal.String.Symbol */
.syntax pre .bp { color: #008000 } /* Name.Builtin.Pseudo */
.syntax pre .vc { color: #19177C } /* Name.Variable.Class */
.syntax pre .vg { color: #19177C } /* Name.Variable.Global */
.syntax pre .vi { color: #19177C } /* Name.Variable.Instance */
.syntax pre .il { color: #666666 } /* Literal.Number.Integer.Long */
