<!doctype html>
<html lang="en">
<head>
  <title>Gautam Mittal</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="/img/favicon.png">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <div class="profile">
    <div class="profile-pic">
      <img src="/img/me/stanford2023.jpg" />
    </div>
    <div class="profile-text">
      <h1><a href="/">Gautam Mittal</a></h1>
      <div class="social">
        <a href="mailto:gautam@mittal.net" rel="noreferrer">
          <img src="/img/social/mail.svg" id="in" alt="LinkedIn" />
        </a>
        <a href="//github.com/gmittal" rel="noreferrer">
          <img src="/img/social/github.svg" id="gh" alt="GitHub" />
        </a>
        <a href="//www.linkedin.com/in/mittalgautam/" rel="noreferrer">
          <img src="/img/social/linkedin.svg" id="in" alt="LinkedIn" />
        </a>
        <a href="//scholar.google.com/citations?hl=en&user=6HbdDgIAAAAJ" rel="noreferrer">
          <img src="/img/social/scholar.svg" id="in" alt="LinkedIn" />
        </a>
        <a href="//twitter.com/realgmittal" rel="noreferrer">
          <img src="/img/social/twitter.svg" id="fb" alt="X" />
        </a>
        <a href="/.well-known/ssh.txt" rel="noreferrer">
          <img src="/img/social/fingerprint.svg" id="ssh" alt="SSH" />
        </a>
      </div>
    </div>

    <div class="profile-links">
      <a class="button" href="/">About</a>
      <a class="button" href="/fun">Fun</a>
      <a class="button" href="/office-hours">Schedule</a>
  </div>
</div>

  <h2>Posts</h2>
  {% for post in posts %}
    <p>
      <span class="pub">
        <a href="{{ post.url }}">
        {{ post.title }}
        </a>
      </span><br />
      {{ post.summary }}<br />
      {{ post.date }}<br />
    </p>
  {% endfor %}


  <!-- https://blog.samaltman.com/researchers-and-founders -->
  <!--
  <h2>Research</h2>

  <p>
    <span class="pub">Towards Language Models That Can See: Vision Through the LENS of Natural Language</span><br />
    William Berrios, Gautam Mittal, Tristan Thrush, Douwe Kiela, Amanpreet Singh<br />
    arXiv 2023<br />
    <a class="button" href="https://arxiv.org/abs/2306.16410">pdf</a>
    <a class="button" href="https://github.com/ContextualAI/lens">Code</a>
    <a class="button" href="https://contextual.ai/introducing-lens/">Blog</a>
    <a class="button" href="https://lens.contextual.ai">Demo</a>
  </p>

  <p>
    <span class="pub">SkyPilot: An Intercloud Broker for Sky Computing</span><br />
    Zongheng Yang*, Zhanghao Wu*, Michael Luo, Wei-Lin Chiang, Romil Bhardwaj, Woosuk Kwon, Siyuan Zhuang, Frank Sifei Luan, Gautam Mittal, Scott Shenker, Ion Stoica<br />
    USENIX Symposium on Networked Systems Design and Implementation (NSDI), 2023<br />
    <a class="button" href="https://www.usenix.org/system/files/nsdi23-yang-zongheng.pdf">pdf</a>
    <a class="button" href="https://github.com/skypilot-org/skypilot">Code</a>
  </p>

  <p>
    <span class="pub">Balsa: Learning a Query Optimizer Without Expert Demonstrations</span><br />
    Zongheng Yang, Wei-Lin Chiang*, Sifei Luan*, Gautam Mittal, Michael Luo, Ion Stoica<br />
    ACM Special Interest Group on Management of Data (SIGMOD), 2022<br />
    <a class="button" href="https://arxiv.org/abs/2201.01441">pdf</a>
    <a class="button" href="https://github.com/balsa-project/balsa">Code</a>
  </p>

  <p>
    <span class="pub">Symbolic Music Generation with Diffusion Models</span><br />
    Gautam Mittal, Jesse Engel, Curtis Hawthorne, Ian Simon<br />
    International Society for Music Information Retrieval (ISMIR), 2021<br />
    <a class="button" href="https://arxiv.org/abs/2103.16091">pdf</a>
    <a class="button" href="https://github.com/magenta/symbolic-music-diffusion">Code</a>
  </p>

  <h2>Teaching</h2>
  <p><a href="https://cs186berkeley.net">CS 186 (Databases)</a> at UC Berkeley: Fall 2021 and Spring 2022<br />
    <a href="https://calhacks.io/">Cal Hacks</a> at UC Berkeley: Fall 2019, Spring 2020, and Fall 2020
  </p>
  -->

  <script>
    (function(b, o, i, l, e, r) {
      b.GoogleAnalyticsObject = l;
      b[l] || (b[l] =
        function() {
          (b[l].q = b[l].q || []).push(arguments)
        });
      b[l].l = +new Date;
      e = o.createElement(i);
      r = o.getElementsByTagName(i)[0];
      e.src = '//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e, r)
    }(window, document, 'script', 'ga'));
    ga('create', 'UA-35192434-1', 'auto');
    ga('send', 'pageview');
  </script>
  <script src="//instant.page/1.2.2" type="module" integrity="sha384-2xV8M5griQmzyiY3CDqh1dn4z3llDVqZDqzjzcY+jCBCk/a5fXJmuZ/40JJAPeoU"></script>
</body>
</html>
