<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Gautam Mittal</title>
        <meta name="description" content="Gautam Mittal is a student and developer based in Palo Alto, CA who likes building cool products, martial arts, running, and music of all genres.">
        <meta property="og:description" content="Gautam Mittal is a student and developer based in Palo Alto, CA who likes building cool products, martial arts, running, and music of all genres." />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#000000" />

        <!-- Leveraging browser prefetching and caching for faster load times -->
        <link rel="prefetch" href="/img/favicon.png">
        <link rel="prefetch" href="/img/me-qi.jpg">
        <link rel="prefetch" href="/img/flying.jpg">
        <link rel="prefetch" href="/img/sfgate.png">
        <link rel="prefetch" href="/img/upenn.png">
        <link rel="prefetch" href="/img/paweekly.png">
        <link rel="prefetch" href="/img/mercurynews.png">
        <link rel="prefetch" href="img/verde.jpg">
        <link rel="prefetch" href="/img/apple.png">
        <link rel="prefetch" href="/img/bizphilly-icon.jpeg">
        <link rel="dns-prefetch" href="//www.google-analytics.com">

        <link rel="apple-touch-icon" href="/img/apple-touch-icon-precomposed.png">
        <link rel="icon" type="image/png" href="/img/favicon.png">
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>
      <!--[if lt IE 8]>
          <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->

      <hr id="starter" />

      <div id="header">
        <div class="row">
          <div class="two columns"></div>
          <div class="eight columns">
            <h1>Gautam Mittal</h1>
            <p class="lead">
              I’m a student in Palo Alto, CA. I enjoy building cool products, taekwondo, running, and music of all genres. I am fascinated by AI, difficult problems, hackathons, jazz, and design.<br /><br />
              I previously worked at <a href="http://www.makeschool.com/">MakeGamesWithUs (YC S12)</a> and <a href="http://edmodo.com">Edmodo</a>, and organized <a href="http://gunnhacks.com">GunnHacks</a>. Currently, I'm building <a href="http://copilot.help">Copilot</a> and running <a href="http://www.tedxgunnhighschool.com">TEDxGunnHighSchool</a>.<br /><br />
              A lot of my code is on <a href="https://github.com/gmittal">GitHub</a> and I occasionally <a href="https://twitter.com/gthinkin">tweet</a>. I also have a <a href="/docs/resume.pdf">resumé</a>. If you want to talk or are looking for cool things to work on, feel free to send email to <a href="mailto:gautam@mittal.net">gautam [at] mittal [dot] net</a>.
            </p>
          </div>
        </div>
      </div>

      <div class="row contentArea blogArea">
        <div class="two columns"></div>
        <div class="eight columns">
          <h2>
            Thoughts
            <a href="/feed.xml">
              <img id="rss" src="/img/rss.png" alt="RSS" title="Get your RSS"/>
            </a>
          </h2>

          {BLOG-POST-LIST}
          <br />
        </div>
      </div>

      <div class="row contentArea">
        <div class="two columns"></div>
        <div class="eight columns">
          <div class="newsIcons">
            <a href="http://www.phillymag.com/business/2015/09/08/smartphones-for-the-blind-and-more-awesome-inventions-from-philly-hackathon/">
              <img alt="BizPhilly" src="/img/bizphilly-icon.jpeg" class="newsInfoIcon" />
            </a>
            <a href="#">
              <img alt="Apple" src="/img/apple.png" class="newsInfoIcon" />
            </a>
            <a href="http://verdemagazine.com/coding-for-the-community">
              <img alt="Palo Alto High School Verde Magazine" src="img/verde.jpg" class="newsInfoIcon" />
            </a>
            <a href="http://www.mercurynews.com/mosaic/ci_28423484/summer-program-helps-students-create-apps">
              <img alt="San Jose Mercury News" src="/img/mercurynews.png" class="newsInfoIcon" />
            </a>
            <a href="http://www.paloaltoonline.com/print/story/2013/07/19/game-making-internship-summer-fun-with-a-possibility-of-profit">
              <img alt="Palo Alto Weekly" src="/img/paweekly.png" class="newsInfoIcon" />
            </a>
            <a href="http://kwhs.wharton.upenn.edu/2013/08/gamers-get-their-apps-on-at-an-internship-in-silicon-valley/"><img alt="Knowledge@Wharton" src="/img/upenn.png" class="newsInfoIcon" /></a><a href="http://www.sfgate.com/technology/article/MakeGamesWithUs-gives-young-developers-a-home-4692431.php">
              <img alt="San Francisco Chronicle" src="/img/sfgate.png" class="newsInfoIcon" />
            </a>
          </div>
        </div>
      </div>

      <div class="row contentArea" style="margin-top: 10px;">
        <div class="two columns"></div>
        <div class="four columns">
            <img src="/img/me-qi.jpg" class="pictureOfMe" alt="Me" title="Why hello there."/>
        </div>
        <div class="four columns">
            <img src="/img/flying.jpg" class="pictureOfMe" alt="Me" title="I can fly too."/>
        </div>
        <div class="two columns"></div>
        </div>
      </div>

      <div id="footer">
        <div class="row">
          <div class="two columns"></div>
          <div class="eight columns">
      	    <div class="wallet">
      	        BTC: 15V4keWg2WhZ4ae5KpdZ1gzVJnADQJQJrH<br />
	            ETH: 0x9bDD7c236E37d4C3185F60782f8fcC6485C988da
      	    </div>
          </div>
        </div>
      </div>

      <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
      <script>
          (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
          function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
          e=o.createElement(i);r=o.getElementsByTagName(i)[0];
          e.src='//www.google-analytics.com/analytics.js';
          r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
          ga('create','UA-35192434-1','auto');ga('send','pageview');
      </script>
    </body>
</html>
