/* Stopwatch Main Stylesheet*/

/* fonts */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url(fonts/roboto1.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(fonts/roboto2.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url(fonts/roboto3.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(fonts/roboto4.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local('Roboto Black'), local('Roboto-Black'), url(fonts/roboto5.woff) format('woff');
}

/*@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,500,700,800,900);*/

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    src: local('Raleway Light'), local('Raleway-Light'), url(fonts/-_Ctzj9b56b8RgXW8FArib3hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
}
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: local('Raleway'), url(fonts/cIFypx4yrWPDz3zOxk7hIQLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    src: local('Raleway Medium'), local('Raleway-Medium'), url(fonts/CcKI4k9un7TZVWzRVT-T873hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
}
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    src: local('Raleway Bold'), local('Raleway-Bold'), url(fonts/JbtMzqLaYbbbCL9X6EvaI73hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
}
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    src: local('Raleway ExtraBold'), local('Raleway-ExtraBold'), url(fonts/1ImRNPx4870-D9a1EBUdPL3hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
}
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    src: local('Raleway Heavy'), local('Raleway-Heavy'), url(fonts/PKCRbVvRfd5n7BTjtGiFZL3hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
}



#watchDisplay {
  margin-top: 45px;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  font-family: 'Roboto';
  font-size: 85px;
  color:rgb(236, 240, 241);
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
}

body {
background-image:url('mountain.png');
background-size: 100%;
background-color: #ecf0f1;
color: black;
text-align:center;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
  padding:0;
  margin:0;
  overflow:hidden;
  width:100%;
  
}

 @media only screen and (max-device-height: 480px) {
    body {
        background-image:url('mountain.png');
        background-size: 100%;
        background-color: #ecf0f1;
        color: black;
        text-align:center;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        padding:0;
        margin:0;
        overflow:hidden;
        width:100%;
        
    }
}

#watchWrapper {
  margin-top: 10px;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  height: 300px;
  width: 300px;
  background-color: transp;
  border: 3px solid #e67e22;
  border-radius: 150px;
/*
animation-name:changecolor;
animation-duration:10s;
animation-timing-function:linear;
animation-delay:1s;
animation-iteration-count:infinite;
animation-direction:normal;
animation-play-state:running;

-webkit-animation-name:changecolor;
-webkit-animation-duration:10s;
-webkit-animation-timing-function:linear;
-webkit-animation-delay:1s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:normal;
-webkit-animation-play-state:running;
    */
}

#dispSpacing {
  height: 25px;
}

#startStop {
  font-size: 25px;
  font-family: 'Roboto';
  text-align:center;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  color:rgb(236, 240, 241);
}

#minutes {
  
}

.nums {
  margin-bottom: 14px;
  display: inline-block;
}

#displayArea {
    display: inline-block;
    /*font-size: 50px;*/
    /*margin-top: 0px;*/
    font-family: 'Roboto';
    font-weight: 900;
    color:white;
    width:100%;
    height:55%;
    background-color:transp; /* #1abc9c; */
    border-bottom-left-radius:3px;
    border-bottom-right-radius:3px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
}

#seconds {
font-family: 'Roboto';
font-weight: 100;
}

#tenthseconds {
font-family: 'Roboto';
font-weight: 100;
margin-bottom: 0px;
font-size: 30px;
}

#less {
font-weight: 100;
}

#lapBox {
    margin-top: 10px;
  font-size: 30px;
  font-weight: Light;
  padding: 6px;
  font-family: 'Roboto';
  overflow:scroll; 
  height:140px;
  width: 300px;
  /* border: 1px solid red;
  border-radius: 4px; */
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  color: #f39c12;
  font-weight:300;
}

#lapnums {
display: inline-block;
font-weight:300;
}

#lapSpacing {
height: 100px;
}

#settingsAccessLabel {
    margin-top:30px;
    font-weight:400;
    font-family: 'Raleway';
    color: white;
}

.homeButtonLarge {
    height: 100px;
    width: 100px;
    background-color:transp;
    border-radius: 50%;
    border: 1px solid white;
    text-align: center;
    color:white;
    font-size: 25px;
    font-family: 'Roboto';
    font-weight: 300;
    line-height: 100px;
    display:inline-block;
    margin-top: 30%;
}

.homeButtonMed {
    height: 60px;
    width: 60px;
    background-color:transp;
    border-radius: 50%;
    border: 1px solid white;
    text-align: center;
    color:white;
    font-size: 13px;
    font-family: 'Roboto';
    font-weight: 300;
    line-height: 60px;
    display:inline-block;
    margin-top: -10px;
    position:absolute;
    bottom: 10px;
    right: 10px;
    
    
    
}

#themes {
    width:100%;
    height:100%;
}

.theme {
    
}

#theme1 {
    /* background-image:url('space.png');
     height: 240px;
     width:180px; */
}

#theme2 {
    /* background-image:url('space.png');
     height: 240px;
     width:180px; */
}

#theme3 {
    /* background-image:url('space.png');
     height: 240px;
     width:180px; */
}

#theme4 {
    /* background-image:url('space.png');
    height: 240px;
    width:180px; */
}

.themeTile {
    margin-top: 25%;
    width:70px;
    border-radius: 6px;
}


/* watchWrapper Animations */
@keyframes changecolor
{
0%   {border: 3px solid red;}
20%  {border: 3px solid orange;}
40%  {border: 3px solid yellow;}
60%  {border: 3px solid green;}
80%  {border: 3px solid blue;}
100% {border: 3px solid red;}
}

@-webkit-keyframes changecolor /* Safari and Chrome */
{
0%   {border: 3px solid	red;}
20%   {border: 3px solid orange;}
40%  {border: 3px solid yellow;}
60%  {border: 3px solid green;}
80%  {border: 3px solid blue;}
100% {border: 3px solid red;}
}
